[submodule "cli-15-tiles-puzzle-game"]
	path = cli-15-tiles-puzzle-game
	url = https://github.com/PHandradee/cli-15-tiles-puzzle-game.git
[submodule "tiny-crud"]
	path = tiny-crud
	url = https://github.com/PHandradee/tiny-crud.git
[submodule "a-minesweeper"]
	path = a-minesweeper
	url = https://github.com/PHandradee/a-minesweeper.git
[submodule "sfml-shape-bouncer"]
	path = sfml-shape-bouncer
	url = https://github.com/PHandradee/sfml-shape-bouncer.git
